body,
html
{
	background: #222;
	overscroll-behavior: none;
	font-family: "Trebuchet MS";
}

canvas
{
	position: fixed;
	top: 0;
	left: 0;
}

#hint
{
	position: fixed;
	bottom: 1em;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 1000;
	color: #aaa;
}

#hint b
{
	color: #fff;
}
