body,
html
{
	padding: 0;
	margin: 0;
	background: #222;
	overflow: hidden;
	overscroll-behavior: none;
}

canvas
{
	position: fixed;
	top: 0;
	left: 0;
}

#hint
{
	position: fixed;
	top: 530px;
	left: 25px;
	z-index: 1000;
	color: #aaa;
}

#hint b
{
	color: #fff;
}
